<h3>Bonjour,</h3>

<p>Une offre de stage vient d'être poster sur le site de l'association Astico <a href="http://symfony.local/web/app_dev.php/stages">astico.fr</a> </p><br/>
<ul>
	<li>Intitulé: {{intitule}}</li>
	<li>Profile: {{profile}}</li>
</ul>
<p>N'hesites pas d'y jeter un coup d'oeil.</p> 
Amicalement. <br/>

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('bundles/snsplateform/images/astico2.png')) }}" alt="image de fond astico" width=10%>
<br/>
<i>Ceci est un message automatique. Merci de ne pas y répondre directement.</i><br/>