{% extends "SNSPlateformBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} > ajout annonce
{% endblock %}

{% block acceuil %} 
   <section class="col-sm-12">

	<h3>Formulaire d'ajout d'une annonce</h3>
	{{ include("SNSPlateformBundle:Main:formulaire_annonce.html.twig") }}
   
   </section>

{% endblock %}

