

{% extends "SNSPlateformBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} > contact
{% endblock %}

{% block acceuil %}
<section class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Domiciliation</h3>
            </div>
            <div class="panel-body">
            
              <p>
		        Place Eugène Bataillon <br/>
			 34095 Montpellier Cedex 5<br/>
			 Case courrier : 
		  </p>

            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Courriels et téléphones</h3>
            </div>
            <div class="panel-body">
              <p>  
                   <b>Tel:</b>     <br/>
                   <b>couriels:</b> <a href="mailto:association.astico@gmail.com"> association.astico@gmail.com</a> <br/>
                   			
  	                   	 
  	             <b>Webmaster:</b> <a href="mailto:abdouldiallo30@yahoo.fr">abdouldiallo30@yahoo.fr</a> <br/> 
              </p>
            </div>
            
          </div>
        </section>

{% endblock %}
