

{% extends "SNSPlateformBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} > master BCD
{% endblock %}

{% block acceuil %}
	<section class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">master SNS - Parcours BCD</h3>
            </div>
          <div class="panel-body">
          
              <div class="well well-lg">
              L'informatique occupe une place importante dans nombre de métiers des Sciences du Vivant.
Les ordinateurs permettent en effet d'aborder un grand nombre de questions posées par ces secteurs d'activité, qui ne peuvent être résolues directement par des expériences en laboratoire.<br/>
Par ailleurs, l'optique de travail en bioinformatique est différente de celle qui est adoptée en biologie.<br/>
Les biologistes effectuent souvent des études sur des éléments très spécifiques, comme un gène ou une voie métabolique ; en contraste, les bioinformaticiens explorent plutôt des processus d'envergure, comme par exemple le développement de cellules ou l'annotation de génomes.
Ils travaillent la plupart du temps sur des données de grande taille (par exemple issues de séquençages massifs), les analysant in silico ou effectuant des simulations informatiques sur la base de modèles mathématiques.<br/>
Parfois l'ordinateur est même un passage obligé, comme c'est le cas pour l'étude des repliements de protéines ou les liaisons peptidiques : la modélisation tridimensionnelle est effectuée par des programmes de visualisation couplés à des modules de calculs et des bases de données de structures déjà connues.<br/>
Enfin, la bioinformatique est un champ d'étude réellement pluridisciplinaire, amenant à collaborer avec des gens de formations différentes, ce qui procure une vision intégrative et globale de la science, très appréciée dans le domaine.
              </div>
              
              <h4>Objectif de la formation</h4>
              
              <div class="well well-lg">
  Le parcours « Bioinformatique, Connaissances, Données » délivre un diplôme de Master. Elle fait partie des trois parcours du Master Sciences & Numérique pour la Santé. Elle a pour objectif de former les étudiants issus des Sciences du vivant (agronomie, biologie moléculaire, cellulaire, physiologie animale et végétale, biochimie), des sciences médicales, de l'informatique ou des mathématiques aux besoins spécifiques de la bioinformatique (modélisation du vivant, systèmes d'information biologiques, algorithmique dédiée, analyse de séquences et de génomes, prédictions structurales, phylogénie, … ) tout en renforçant les compétences de leur profil initial.

		</div>
            
            <div class="well well-lg">
		Pour plus d'infos visiter <a href="http://sns.edu.umontpellier.fr/master-sciences-numerique-pour-la-sante-montpellier/bcd/">sns.edu.umontpellier.fr/master-sciences-numerique-pour-la-sante-montpellier/bcd/ </a>
		</div>
                         
          </div>
        </div>
    </section>

{% endblock %}
