

{% extends "SNSPlateformBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} > master IDS
{% endblock %}

{% block acceuil %}
	<section class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">master SNS - Parcours IDS</h3>
            </div>
          <div class="panel-body">
          
              <div class="well well-lg">
              La spécialité « Ingénierie des Dispositifs pour la Santé » (en abrégé : IDS) vise à former les étudiants à la maîtrise théorique et pratique de concepts et dispositifs technologiques appliqués au biomédical. Co-labellisée par les universités Montpellier 1 (Faculté de Médecine) et Montpellier 2 (Faculté des Sciences), la formation est encadrée par une équipe d'enseignants-chercheurs issus des deux institutions. Les objectifs pédagogiques et professionnels de la spécialité visent à doter les étudiants d'une formation scientifique de haut niveau en leur apportant des compétences permettant la conceptualisation et la réalisation de systèmes relevant du domaine de l'Electronique appliquée au Médical.
               </div>
              
              <div class="well well-lg">
De manière à atteindre cet objectif, un socle de connaissances de base est dispensé aux étudiants à travers des enseignements d'électronique analogique, numérique ou de traitement du signal (analogique, numérique, image). Les notions abordées sont ensuite développées dans le cadre d'unités d'enseignements (UEs) plus spécialisées et s'appuyant sur les compétences de plusieurs laboratoires de recherche montpelliérains fortement impliqués dans la formation [4-6]. Ces modules concernent, entre autres, les capteurs et l'instrumentation biomédicale, la robotique médicale, les neuro-prothèses ou la modélisation et régulation du mouvement humain.
		</div>
              
              <div class="well well-lg">
Des modules professionnalisants permettent de plus aux étudiants d'acquérir des compétences en gestion de projets à caractère scientifique/médical et industriel ou de s'initier aux métiers de la recherche dans les domaines de la Santé.
		</div>
		
		<div class="well well-lg">
		Pour plus d'infos visiter <a href="http://sns.edu.umontpellier.fr/master-sciences-numerique-pour-la-sante-montpellier/ids/"> sns.edu.umontpellier.fr/master-sciences-numerique-pour-la-sante-montpellier/ids/ </a>
		</div>
                         
          </div>
        </div>
    </section>

{% endblock %}
