

{% extends "SNSPlateformBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} > master PHYMED
{% endblock %}

{% block acceuil %}
	<section class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">master SNS - Parcours PHYMED</h3>
            </div>
          <div class="panel-body">
          
              <div class="well well-lg">
              PhyMed est une formation pluridisciplinaire faisant appel à une équipe pédagogique regroupant des enseignants et des enseignant-chercheurs de différentes spécialités et provenant de divers horizons.<br/>

Ainsi, les modules relatifs aux sciences du vivant sont dirigés par des enseignants spécialisés en biophysique et biologie, au sein de l’Université Montpellier 1&2, ainsi que par des enseignants hospitalo-universitaires (CHU et CRLC), ou par des spécialistes externes.
              </div>
              
              <div class="well well-lg">
              Certains modules spécifiques (formation et traitement d’image en particulier) sont dirigés par des électroniciens et des mathématiciens. La composante physique de la formation est quand à elle assurée par des physiciens. La radioactivité, les effets des rayonnements ionisant et la radioprotection seront enseignés par des chimistes de CEA Marcoule et par un médecin en radiologie du CHU.<br/>

Cette pluridisciplinarité, au sein même de l’équipe pédagogique, est un choix délibéré. L’autre spécificité de master PhyMed est le nombre important de formations pratiques sous forme des travaux pratiques et stages dans des laboratoires, hôpitaux et entreprises. 
		</div>
            
              <div class="well well-lg">
              Les diverses techniques d’imagerie seront également apprises, comme les microscopies de pointe, imagerie diagnostique par spectroscopie de masse, IRM médical, tomographie, imagerie par ultrasons et rayons X.<br/>  

Les étudiants seront sensibilisés à la recherche par les projets/stages effectués dans les laboratoires partenaires, des hôpitaux et des entreprises qui soutiennent ce master ainsi que par d'analyse bibliographique et veille technologique.
		</div>

            <div class="well well-lg">
		Pour plus d'infos visiter <a href="http://sns.edu.umontpellier.fr/master-sciences-numerique-pour-la-sante-montpellier/phymed/"> sns.edu.umontpellier.fr/master-sciences-numerique-pour-la-sante-montpellier/phymed/ </a>
		</div>
                         
          </div>
        </div>
    </section>

{% endblock %}
