

{% extends "SNSPlateformBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} > reseau des anciens
{% endblock %}

{% block acceuil %}
        <section class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Reseau des anciens</h3>
            </div>
            <div class="panel-body">
              <p class="navbar-right">
                    <img src="{{ asset('bundles/snsplateform/images/intrigue.gif') }}" alt="image phymed" width=45%> 
                </p>
              <p>Je suis en cours de création ...</p>
              <p>On essaye de les trouver ces anciens</p>


            </div>
          </div>
        </section>

{% endblock %}
